body {
    margin: 10px;
    padding: 0;
    background-color: lightblue;
    font-family: 'Courier New', Courier, monospace;
}

header {
    text-align: center;
    background-color: DodgerBlue;
    border: 1px outset black;
    color: white;
    border-radius: 2px;
}


.money-display {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: MediumSeaGreen;
    font-weight: bold;
    padding: 8px;
    color: white;
}

/* media query */
@media (max-width: 768px) {
    .money-display {
        flex-direction: column;
        flex-wrap: wrap;
        line-height: 30px;
    }
}

.fileds-conatiner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
    gap: 10px;
    align-items: center;
    margin-top: 30px;
    padding: 20px 30px;
    font-family: 'Courier New', Courier, monospace;
}

.container{
    border-right: 1px solid gray;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 30px;
}

@media(max-width: 768px) {
    .fileds-conatiner {
        grid-template-columns: 1fr;
        gap: 20px;

    }
}

.description {
    width: 50%;
    height: 30px;
    text-align: center;
}

.amount {
    width: 50%;
    height: 30px;
    text-align: center;
}

.type {
    width: 40%;
    height: 35px;
    text-align: center;
}

.add-btn {
    width: 40%;
    height: 30px;
    border: 2px outset DodgerBlue;
    border-radius: 3px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    background: rgb(73,171,109);
    overflow: hidden;
    cursor: pointer;
    color: white;
}

.add-btn:hover{
    color: black;
}

.entry-list ol {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.entry-list li {
    background-color: #fff;
    border: 1px solid DodgerBlue;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.entry-list li.income {
    color: white;
    background-color: rgba(57,128,0,0.6);
}

.entry-list li.expense {
    color: white;
    background-color: rgba(241,50,0,0.6);
}

.entry-list button {
    color: #fff;
    border: none;
    padding: 5  px 10px;
    cursor: pointer;
}

.entry-list button.edit {
    background-color: #4CAF50;
    margin-right: 10px;
}

.material-icons {
    font-size: 25px; 
    color: rgb(51, 51, 51, 0.7); 
    vertical-align: middle;
  }
  

  li{
    border: 1px solid red;
  }